<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PresentTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5BC98EFB1EB1D7370080F8B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BC98F141EB1D7370080F8B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BC98F1F1EB1D7370080F8B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
